<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">
<script>
var isMobile = function() {
   console.log("Navigator: " + navigator.userAgent);
   return /(iphone|ipod|ipad|android|blackberry|windows ce|palm|symbian)/i.test(navigator.userAgent);
};
if (isMobile() && (window.location.hostname == "www.reflechir.ml" || window.location.hostname == "reflechir.ml")) {
	window.location.replace('http://www.reflechir.cf' + window.location.pathname);
}
</script>

{% include head.html %}

<body>

   {% include header.html %}

	<main class="page-content" aria-label="Content">
		<div id="column1">
			{{content}}
		</div>
		<div id="column2" class="side-menu">
			{% include side.html %}
		</div>
	</main>

</body>

</html>
