---
layout: default
---
<style type="text/css">
#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}
 
</style>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<div class="back-home-container">
	<div class="back-to-home">
	<a href="{{ site.baseurl }}" style="color: #000" target="_self">Retourner à l'accueil du site</a>
	</div>
</div>

<div class="post-container">
	<div class="title-container">
		<div class="post-title"><b>{{ page.title | escape }}</b></div>
		<div class="post-date">{% include page_date.html %}</div>
	</div>

	<div class="post-content" itemprop="articleBody">
		{{ content }}
	</div>

	<div class="share-buttons">
		<p><h2><b>
		Partager cet article :
		</b></h2>
		</p>
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		<a href="http://www.facebook.com/sharer.php?url=" + {{ page.bitlink }} + ";" target="_blank">
		<img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
		</a>
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		<a href="https://twitter.com/share?url=" + {{ page.bitlink }} + ";" target="_blank">
		<img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
		</a>
	</div>

</div>

</article>
