<header class="site-header">
	<div class="header-wrapper">

		{% assign default_paths = site.pages | map: "path" %}
		{% assign page_paths = site.header_pages | default: default_paths %}

	<div class="header-title">
		{% if site.pagenames contains page.title %}
		{{ page.title | escape }}
		{% else %}
		{{ site.title | escape }}
		{% endif %}
	</div>

	<div class="header-description">
		<div class="header-description2"></div>
		<div class="header-description1">
		     {% if page.description %}
		     {{ page.description | escape }}
		     {% else %}
		     {{ site.description | escape }}
		     {% endif %}
		</div>
		<div class="header-description3"></div>
	</div>

	{% if page_paths %}
	<div class="header-menu">
		<div class="header-sections">
		{% assign sorted_pages = site.pages | sort:"order" %}
		{% for node in sorted_pages %}
			{% if node.title != null %}
				{% if page.url == node.url %}
				{% assign font = site.link_colors.first %}
				{% else %}
				{% assign font = site.link_colors.last %}
				{% endif %}
				{% if site.sectionnames contains node.title %}
				<br><br>
				<a href="{{ node.url | relative_url }}" target="_self">
				<font color={{font}}><b>{{ node.title | escape }} &raquo;</b></font>
				</a>
				{% endif %}
			{% endif %}
		{% endfor %}
		</div>
		<div class="header-subsections">
		{% assign sorted_pages = site.pages | sort:"order" %}
		{% for node in sorted_pages %}
			{% if node.title != null %}
				{% if page.url == node.url %}
				{% assign font = site.link_colors.first %}
				{% else %}
				{% assign font = site.link_colors.last %}
				{% endif %}
				{% if site.sectionnames contains node.title %}
				<br><br>
				{% else %}
				<a href="{{ node.url | relative_url }}" target="_self">
				<font color={{font}}>{{ node.title | escape }}</font>
				</a>
				{% endif %}
				&emsp;
			{% endif %}
		{% endfor %}
		</div>
	</div>

	{% endif %}

	</div>
</header>
