<script type="text/javascript">
	var isMobile = function() {
	   console.log("Navigator: " + navigator.userAgent);
	   return /(iphone|ipod|ipad|android|blackberry|windows ce|palm|symbian)/i.test(navigator.userAgent);
	};
	window.onload = function () {
		if (isMobile()) {
			document.getElementById("email-site").innerHTML = "email";
		}
		else {
			document.getElementById("email-site").innerHTML = "{{ site.email }}";
		};
	};
</script>

<div class="side-wrapper">

<div class="email-container">
	<p>Nous contacter :</p>
	<p><center>
	<a id="email-site" href="mailto:{{ site.email }}"><br></a>
	<center></p>
</div>

<div class="newsletter-container">
	<p>Inscrivez-vous pour être averti.e de la sortie de nouveaux articles</p>
	<div class="newsletter-form-group">
		<form action="https://tinyletter.com/reflechir" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/reflechir', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
		<p><label for="tlemail"><b>Écrire votre adresse mail</b></label></p>
		<p><input type="text" style="width:140px" name="email" id="tlemail"></p>
		<input type="hidden" value="1" name="embed"><input type="submit" value="S'inscrire" class="btn btn-warning">
		</form>
	</div>
</div> 

<br>

<div class="a-venir">
	<div class="a-venir-content">
		<div class="a-venir-header">
          	<b>Articles à venir :</b>
		</div>
		{% for section in site.a_venir %}
		<ul>
			<li><b>{{ section.first }}</b></li>
			{% for article in section.last %}
			<li>{{ article }}</li>
			{% endfor %}
		</ul>
		{% endfor %}
	</div>
</div>

{% include footer.html %}

</div>
