  <div id="side" class="wrapper">

    <br></br>

    <center><h4>
             Nous contacter : <a href="mailto:{{ site.email }}">{{ site.email | escape }}</a>
    </h4></center>

<p>Inscrivez-vous pour être averti de la sortie de nouveaux articles !</p>
<div class="form-group">
    <form style="text-align: center; background-color: whitesmoke; border:1px solid #ccc;padding:3px;text-align:center" action="https://tinyletter.com/reflechir" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/reflechir', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <p><label for="tlemail">Écrire votre adresse mail :</label></p>
        <p><input type="text" style="width:140px" name="email" id="tlemail"></p>
        <input type="hidden" value="1" name="embed"><input type="submit" value="S'inscrire" class="btn btn-warning">
    </form>
</div> 

<br></br>

          <h3><b>Articles à venir :</b></h3>
          <h5><p class="indent2"><em>[Mathématiques] Théorie des ensembles</em></p></h5>
          <h5><p class="indent2"><em>[Mathématiques] Géométrie</em></p></h5>
          <h5><p class="indent2"><em>[Évènements] Lois de l'automne 2017</em></p></h5>
          <h5><p class="indent2"><em>[Informatique] Introduction aux structures Union-Find</em></p></h5>
          <h5><p class="indent2"><em>[Informatique] Introduction aux structures Union-Find (corrigé)</em></p></h5>
          <h5><p class="indent2"><em>[Lu et approuvé] Le monde de Sophie, de Jostein Gaarder</em></p></h5>
	  <h5><p class="indent2"><em>[Opinions] Les libertés et leurs limites</em></p></h5>

   </div>

<h5><b><p>© 2018</p>
<p>Le contenu de ce site est sous licence MIT.</p></b></h5>
